<div class="row">
    <div class="col-lg">
        <h1> Post new article form </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        <form action="/articles" method="post">

            <label for="title">Article Title: </label><br>
            <input type="text" name="title" placeholder="Title">
            <br><br>

            <label for="content">Article Content: </label><br>
            <input type="text" name="content" placeholder="Content">
            <br><br>

            <input type="submit" id="submit" value="Submit">
        </forms>
    </div>
</div>